@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
header {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

footer {
    text-align: center;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}